<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <title>CRUD de Clientes</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- <script src="script.js"></script> -->
</head>

<body>
  <div class="container">
    <h1><%= lbl %> Cliente</h1>
    <form action="/clientes" method="post">
      <div class="container-row">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="<% if (obj){ %> <%= obj.nome %> <% } %>">
      </div>
      <div class="container-row">
        <label for="telefone">Telefone:</label>
        <% if (obj) { %>
          <input type="text" id="telefone" name="telefone" value="<%= obj.telefone %>">
          <% } else { %>
            <input type="text" id="telefone" name="telefone" value="">
            <% } %>
      </div>
      <div class="container-row">
        <label for="uf">UF:</label>
        <select id="uf" name="uf">
          <option value="AC" <% if (obj.uf=='AC') {%> selected <% } %>>AC</option>
          <option value="AM" <% if (obj.uf=='AM') {%> selected <% } %>>AM</option>
          <option value="AP" <% if (obj.uf=='AP') {%> selected <% } %>>AP</option>
          <option value="PA" <% if (obj.uf=='PA') {%> selected <% } %>>PA</option>
          <option value="RO" <% if (obj.uf=='RO') {%> selected <% } %> >RO</option>
          <option value="RR" <% if (obj.uf=='RR') {%> selected <% } %> >RR</option>
          <option value="TO" <% if (obj.uf=='TO') {%> selected <% } %>>TO</option>
        </select>
      </div>
      <div class="container-row">
        <button type="submit"><%= lbl %></button>
      </div>
      <% if(obj) { %>
        <input type="hidden" id="hiddenid" name="hiddenid" value="<%= obj._id %>">
      <% } %>
    </form>
  </div>
</body>

</html>