<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <title>CRUD de Clientes</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js/myjs.js"></script>
</head>

<body>
    <div class="container">
        <h1>Lista de Clientes</h1>
        <% if (inserido) { %>
            <h2>Cliente inserido com sucesso</h2>
            <% } %>

                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>UF</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form method="post">
                            <% docs.forEach(doc=> { %>
                                <tr>
                                    <td>
                                        <%= doc.nome %>
                                    </td>
                                    <td>
                                        <%= doc.telefone %>
                                    </td>
                                    <td>
                                        <%= doc.uf %>
                                    </td>
                                    <td>
                                        <button type="submit" onclick="setHiddenId('<%= doc._id %>')" formaction="/clientes/update" class="btn-editar">Editar</button>
                                        <button type="submit" onclick="setHiddenId('<%= doc._id %>')" formaction="/clientes/delete" class="btn-excluir" method="" delete>Excluir</button>
                                    </td>
                                </tr>
                                <% }); %>
                                <input type="hidden" id="hiddenid" name="hiddenid">
                        </form>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4"><a href="/clientes/add"><button type="button">Novo</button></a></td>
                        </tr>
                    </tfoot>
                </table>
    </div>
</body>

</html>